################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/*.dmp

/_vs17/.vs
/_vs17/**/.vs
/_vs17/**/Debug
/_vs17/**/Release
/.vs
